NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDEAUW087oys93F5PAB9BeIqlfGtqqu7LQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=secretcomms-6de0e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=secretcomms-6de0e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=secretcomms-6de0e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=49266914884
NEXT_PUBLIC_FIREBASE_APP_ID=1:49266914884:web:950b363ccaa6d715392e11
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4Q97LP257N
